@font-face {
  font-weight: 400;
  font-family: 'Trebuchet MS';
  font-style: normal;

  font-display: swap;
  src: url('../fonts/TrebuchetMS.woff') format('woff');
}

@font-face {
  font-weight: 700;
  font-family: 'Trebuchet MS';
  font-style: normal;

  font-display: swap;
  src: url('../fonts/TrebuchetMS-Bold.woff') format('woff');
}

@font-face {
  font-weight: 100;
  font-family: 'Exo 2.0';
  font-style: normal;

  font-display: swap;
  src: url('../fonts/Exo20-Thin.woff') format('woff');
}
